/* @import 'tailwindcss/preflight'; */
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.text-muted { color: #b9bfc6; }

/* because .flex clashes with Craft’s own styles */
.flex-wrapper {
    @apply flex;
}

.lg\:flex-wrapper {
    @apply flex;
}

.sep-dots {
    height: 32px;
    padding: 6px 12px;
}

.stat-panel .spinner {
    height: 20px;
}

.items-table {
    td {
        @apply align-top;
    }
    .text-right {
        text-align: right;
    }
}

/* purgecss start ignore */

.ui-datepicker-calendar .ui-state-disabled {
    text-align: center;
    opacity: 0.3;
}

/* purgecss end ignore */
