/* purgecss start ignore */

#webhookEndpoint-field .input {
    @apply relative;
}

.copy-btn {
    @apply inline-block relative pin-t pin-r pin-b;
    background-image: url(data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjIwIiB2aWV3Qm94PSIwIDAgMjAgMjAiIHdpZHRoPSIyMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJtMS45OTk5OTk3NiAzLjk5OTk5OTY0aC0xLjk5OTk5OTg4djEzLjk5OTk5OTE2YzAgMS4wOTk5OTk5LjkwMDAwMDA1IDEuOTk5OTk5OSAxLjk5OTk5OTg4IDEuOTk5OTk5OWgxMy45OTk5OTkxNHYtMS45OTk5OTk5aC0xMy45OTk5OTkxNHptMTUuOTk5OTk5MDQtMy45OTk5OTk3NmgtMTEuOTk5OTk5MjhjLTEuMDk5OTk5ODMgMC0xLjk5OTk5OTg4LjkwMDAwMDA1LTEuOTk5OTk5ODggMS45OTk5OTk4OHYxMS45OTk5OTkyNGMwIDEuMS45MDAwMDAwNSAxLjk5OTk5OTkgMS45OTk5OTk4OCAxLjk5OTk5OTloMTEuOTk5OTk5MjhjMS4wOTk5OTk5IDAgMS45OTk5OTk5LS44OTk5OTk5IDEuOTk5OTk5OS0xLjk5OTk5OTl2LTExLjk5OTk5OTI0YzAtMS4wOTk5OTk4My0uOS0xLjk5OTk5OTg4LTEuOTk5OTk5OS0xLjk5OTk5OTg4em0tLjk5OTk5OTkgOC45OTk5OTk0NmgtMy45OTk5OTk4djMuOTk5OTk5NzZoLTEuOTk5OTk5OXYtMy45OTk5OTk3NmgtMy45OTk5OTk3NHYtMS45OTk5OTk4OGgzLjk5OTk5OTc0di0zLjk5OTk5OTc2aDEuOTk5OTk5OXYzLjk5OTk5OTc2aDMuOTk5OTk5OHoiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==), linear-gradient(#fff, #fafafa);
    background-repeat: no-repeat, no-repeat;
    background-position: center center, center center;
    background-size: 14px, auto;
    position: absolute;
    border: 1px solid rgba(0, 0, 20, 0.1);
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    width: 32px;
    opacity: 0.3;

    &:hover {
        @apply opacity-100;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }

    &:before {
        @apply absolute inline-block text-white text-xs px-2 py-0 rounded-sm;
        transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
        top: 5px;
        right: 10px;
        opacity: 0;
        background: #0d78f2;
        content: "copied!";
    }

    &.success {
        &:before {
            opacity: 1;
            right: 38px;
        }
    }
}

/* purgecss end ignore */

.input-row {
    @apply block;

    .column {
        @apply inline-block;
        margin-right: 20px;
    }
}

#ship-from-fields .field {
    margin: 12px 0;
}