{% extends 'snipcart/_layouts' %}

{% import '_includes/forms' as forms %}
{% import 'verbb-base/_macros' as macros %}

{% requireAdmin %}

{% set crumbs = [
    { label: 'Snipcart' | t('snipcart'), url: url('snipcart') },
    { label: 'Settings' | t('app'), url: url('snipcart/settings') },
] %}

{% set tabs = {
    account: { label: 'Snipcart Account' | t('snipcart'), url: '#account' },
    orders: { label: 'Orders' | t('snipcart'), url: '#orders' },
    webhooks: { label: 'Webhooks' | t('snipcart'), url: '#webhooks' },
    logging: { label: 'Logging & Caching' | t('snipcart'), url: '#logging' },
    shipping: { label: 'Shipping' | t('snipcart'), url: '#shipping' },
} %}

{% set selectedTab = 'account' %}
{% set fullPageForm = true %}

{% set title = 'Snipcart Settings' | t('snipcart') %}

{% block blockContent %}

<input type="hidden" name="action" value="plugins/save-plugin-settings">
<input type="hidden" name="pluginHandle" value='snipcart'>

<div class="form-wrap">
{% for id, item in tabs %}
    <div id="{{ id }}" {% if not loop.first %}class="hidden"{% endif %}>
        <h2>{{ item.label }}</h2>

        {% namespace 'settings' %}
            {% include 'snipcart/settings/_panes/' ~ id ignore missing %}
        {% endnamespace %}
    </div>
{% endfor %}
</div>

{% endblock %}
