<div 
    class="orders-chart"
    style="height: 200px; width: 100%;"
    data-chart-type="{{ widget.chartType }}"
    data-chart-range="{{ widget.chartRange }}"
></div>
<style>
.fostercommerce\\snipcart\\widgets\\orders .front .pane { padding-bottom: 0; }
.fostercommerce\\snipcart\\widgets\\orders .front .pane h2 { margin-bottom: 0; }
</style>
