{% set classes = classes ?? [] %}
{% set href = href ?? '#' %}
{% set showCount = showCount ?? true %}
{% set showPrice = showPrice ?? false %}
{% set text = text ?? 'Shopping Cart' | t('snipcart') %}

{% if publicApiKey %}
    <a href="{{ href }}" class="snipcart-checkout {{ classes | join(' ') }}">
        {{ text | raw }}
        {% if showCount %}<span class="snipcart-items-count"></span>{% endif %}
        {% if showPrice %}<span class="snipcart-total-price"></span>{% endif %}
    </a>
{% endif %}
