# Set in accordance to your environment
DB_DSN="mysql:host=192.168.64.3;port=3306;dbname=nitro"
DB_USER="nitro"
DB_PASSWORD="nitro"
DB_TABLE_PREFIX=""

SECURITY_KEY="abcde12345"

# Set this to the `entryUrl` param in the `codeception.yml` file.
DEFAULT_SITE_URL="http://snipcart-craft-plugin.test/index.php"
FROM_EMAIL_NAME="Craft CMS"
FROM_EMAIL_ADDRESS="info@craftcms.com"
