{% extends 'snipcart/cp/_layout' %}

{% do view.registerAssetBundle('verbb\\snipcart\\assetbundles\\SnipcartAsset') %}

{% set isTestMode = craft.app.plugins.getPlugin('snipcart').getSettings().testMode %}
{% set title = 'Snipcart Discounts' ~ (isTestMode ? ' 🚧') %}
{% set selectedTab = 'discounts' %}

{% block actionButton %}
    <a id="newdiscountmenubtn" class="btn submit add icon" href="{{ url('snipcart/discounts/new') }}">
        {{- 'New Discount' | t('snipcart') -}}
    </a>
{% endblock %}

{% block content %}
    <p id="noredirects"{% if discounts|length %} class="hidden"{% endif %}>
        {{ 'There aren’t any discounts yet.' | t('snipcart') }}
    </p>

    {% if discounts|length %}
        <table id="discounts" class="data" style="width: 100%;">
            <thead>
                <th scope="col">{{ 'Name' | t('snipcart') }}</th>
                <th scope="col">{{ 'Trigger' | t('snipcart') }}</th>
                <th scope="col">{{ 'Code' | t('snipcart') }}</th>
                <th scope="col">{{ 'Type' | t('snipcart') }}</th>
                <th scope="col">{{ 'Rate' | t('snipcart') }}</th>
                <th scope="col">{{ 'Amount' | t('snipcart') }}</th>
                <th scope="col">{{ 'Uses' | t('snipcart') }}</th>
            </thead>
            <tbody>
                {% for discount in discounts %}
                    <tr data-id="{{ discount.id }}" data-name="{{ discount.id }}">
                        <td><a href="{{ discount.cpUrl }}">{{ discount.name }}</a></td>
                        <td>{{ discount.trigger }}</td>
                        <td><code>{{ discount.code }}</code></td>
                        <td>{{ discount.type }}</td>
                        <td>{{ discount.rate }}</td>
                        <td>{{ discount.amount }}</td>
                        <td>{{ discount.numberOfUsages }} / {{ discount.maxNumberOfUsages ?? '∞' }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

{% endblock %}