.snipcart-product-details {
    border-radius: 3px;
    background-image: linear-gradient(-180deg, #FEFEFE 0%, #FAFAFA 100%);
    border: 1px solid rgba(96, 125, 159, 0.15);

    .field-group {
        @apply flex overflow-hidden relative items-center;
        padding: 10px;
        border-color: #E5E5E7;
        border-style: dotted;

        .muted { color: #8f98a3; }

        .price-wrapper {
            letter-spacing: 0;

            .input {
                @apply inline-block relative;
                left: -4px;

                input {
                    margin: 0;
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                }
            }
        }

        .currency-symbol {
            @apply inline-block text-sm;
            border: 1px solid rgba(96, 125, 159, 0.15);
            border-right: 0;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
            background: #f4f5f6;
            padding: 6px 10px;
            color: #8f98a3;
        }
    }
}

.snipcart-product-details-outer {
    background-image: linear-gradient(-180deg, #FEFEFE 0%, #FAFAFA 100%);
    border: 1px solid #D8DEE2;
    border-radius: 2px;
}

.snipcart-product-details-field-group {
    display: flex;
    align-items: center;
    overflow: hidden;
    clear: both;
    padding: 10px;
    border-top: 1px dotted #E5E5E7;
}

.snipcart-product-details-sku-group {
    border-top: 0;
}

.snipcart-product-details-field-group .label {
    width: 20%;
}

.snipcart-product-details-field-group .inputs {
    width: 80%;
    float: right;
}

.snipcart-product-details-field-group .muted {
    color: #8f98a3;
}

.snipcart-product-details-field-group .price-wrapper {
    letter-spacing: 0;
}

.snipcart-product-details-field-group .price-wrapper input {
    margin: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    position: relative;
    left: -4px;
}

.snipcart-product-details-field-group .currency-symbol {
    display: inline-block;
    border: 1px solid #e3e5e8;
    border-right: 0;
    border-radius: 3px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background: #f4f5f6;
    font-size: 13px;
    padding: 5px 10px;
    color: #8f98a3;
}
