{% extends 'verbb-base/_layouts/settings' %}

{% import '_includes/forms' as forms %}
{% import 'verbb-base/_macros' as macros %}

{% requireAdmin %}

{% set crumbs = [
    { label: 'Settings' | t('app'), url: url('settings') },
    { label: 'Plugins' | t('app'), url: url('settings/plugins') },
    { label: craft.snipcart.getPluginName() | t('snipcart'), url: url('snipcart/settings') },
] | merge(crumbs ?? []) %}

{% set pageTabs = pageTabs ?? {
    general: { title: 'General Settings' | t('snipcart'), url: url('snipcart/settings') },
    account: { title: 'Snipcart Account' | t('snipcart'), url: url('snipcart/settings/account') },
    orders: { title: 'Orders' | t('snipcart'), url: url('snipcart/settings/orders') },
    webhooks: { title: 'Webhooks' | t('snipcart'), url: url('snipcart/settings/webhooks') },
    logging: { title: 'Logging & Caching' | t('snipcart'), url: url('snipcart/settings/logging') },
    shipping: { title: 'Shipping' | t('snipcart'), url: url('snipcart/settings/shipping') },
} %}

{% set pageTitle = pageTitle ?? false %}
{% if title is not defined and pageTitle %}
    {% set title = pageTitle %}
{% endif %}

{% block settingsMeta %}
    {{ hiddenInput('pluginHandle', 'snipcart') }}
{% endblock %}
