{#

Custom fields on the order, such as a comment or gift note.

@param  array  customFields  Each item should be an object with
                             `name` and `value` properties.

#}
{% for customField in customFields %}
    {% if customField.value is not empty %}
        <h3>
            {{- customField.name|t -}}
        </h3>
        <p class="no-top-margin">
            {{- customField.value -}}
        </p>
    {% endif %}
{% endfor %}
