{% set hasMultiQuantityItems = false %}

{% for item in order.items %}
    {% if item.quantity > 1 %}
        {% set hasMultiQuantityItems = true %}
    {% endif %}
{% endfor %}

<table class="content-table">
    <thead>
        <th class="align-left no-left-margin first-cell-padding">
            {{- 'Qty' | t('snipcart') -}}
        </th>
        <th class="align-left normal-cell-padding" width="50%">
            {{- 'Item' | t('snipcart') -}}
        </th>
        <th class="align-right normal-cell-padding nowrap">
            {{- 'Price' | t('snipcart') -}}
        </th>
        <th class="align-right no-right-margin last-cell-padding nowrap">
            {{- 'Subtotal' | t('snipcart') -}}
        </th>
    </thead>
    <tbody>
        {% for item in order.items %}
            <tr>
                <td class="align-left first-cell-padding">
                    {{- item.quantity -}}
                </td>
                <td class="align-left normal-cell-padding" width="50%">
                    {{ item.name }}

                    {% if item.paymentSchedule and item.paymentSchedule.interval %}
                        <p class="no-padding no-top-margin small">
                            {{- 'Subscription: every {intervalLabel}' | t(params = {
                                intervalLabel: item.paymentSchedule.getIntervalLabel()
                            }) -}}
                        </p>
                    {% endif %}

                    {% if item.customFields | length -%}
                        <ul class="no-padding reset-list" style="margin: 4px 0 0 0; list-style-type: none; padding: 0;">
                            {%- for field in item.customFields -%}
                                <li class="muted small no-left-margin">
                                    {{- field.name }}: {{ field.value -}}
                                </li>
                            {%- endfor -%}
                        </ul>
                    {%- endif -%}
                </td>

                <td class="align-right normal-cell-padding nowrap">
                    <nobr>{{ craft.snipcart.formatCurrency(item.unitPrice, order.currency) }}</nobr>
                </td>

                <td class="align-right last-cell-padding nowrap">
                    <nobr>{{ craft.snipcart.formatCurrency(item.totalPrice, order.currency) }}</nobr>
                </td>
            </tr>
        {% endfor %}

        <tr>
            <td class="subtotal align-right first-cell-padding" colspan="3">
                {{- order.shippingMethod -}}
                <br><span class="muted mono">
                    {{- (shipStationOrder.weight.value ?? order.totalWeight) | number_format }} {{ 'grams' | t('snipcart') -}}
                </span>
            </td>

            <td class="align-right last-cell-padding nowrap">
                <nobr>{{ craft.snipcart.formatCurrency(order.shippingFees, order.currency) }}</nobr>
            </td>
        </tr>

        <tr>
            <td class="subtotal align-right first-cell-padding" colspan="3">
                {{- 'Tax' | t('snipcart') -}}
            </td>

            <td class="align-right last-cell-padding nowrap">
                <nobr>{{ craft.snipcart.formatCurrency(order.taxesTotal, order.currency) }}</nobr>
            </td>
        </tr>

        <tr>
            <td class="subtotal align-right first-cell-padding" colspan="3">
                {{ 'Grand Total' | t('snipcart') }}<br>
                <span class="muted mono">
                    {{- order.paymentMethod }}{% if order.paymentMethod == 'CreditCard' %} {{ order.creditCardLast4Digits }}{% endif -%}
                </span>
            </td>

            <td class="align-right last-cell-padding nowrap">
                <nobr>
                    <b>{{ craft.snipcart.formatCurrency(order.finalGrandTotal, order.currency) }}</b>
                </nobr>
            </td>
        </tr>
    </tbody>
</table>
