{% if order.summary.upcomingPayments|length %}
    <h3>
        {{- "Upcoming Payments"|t -}}
    </h3>

    {% for upcomingPayment in order.summary.upcomingPayments %}
        <p class="no-top-margin">
            {{ upcomingPayment.name }} on {{ upcomingPayment.date|date('short') }}
        </p>
    {% endfor %}
{% endif %}