{% extends '_layouts/cp' %}

{% set centered = true %}

{% set tabs = {
    overview: { label: 'Overview' | t('snipcart'), url: url('snipcart') },
    orders: { label: 'Orders' | t('snipcart'), url: url('snipcart/orders') },
    customers: { label: 'Customers' | t('snipcart'), url: url('snipcart/customers') },
    discounts: { label: 'Discounts' | t('snipcart'), url: url('snipcart/discounts') },
    abandoned: { label: 'Abandoned Carts' | t('snipcart'), url: url('snipcart/abandoned') },
    subscriptions: { label: 'Subscriptions' | t('snipcart'), url: url('snipcart/subscriptions') },
} %}

{% block content %}

{% endblock %}
