{% extends '_layouts/cp' %}

{% set centered = true %}
{% set isTestMode = craft.app.plugins.getPlugin('snipcart').getSettings().testMode %}
{% set title = 'Snipcart' ~ (isTestMode ? ' 🚧') %}

{% do view.registerAssetBundle('verbb\\snipcart\\assetbundles\\SnipcartAsset') %}

{% set graphicUrl = craft.app.assetManager.getPublishedUrl(
    '@verbb/snipcart/resources/dist/img/disconnected.svg',
    true
) %}

{% block content %}
    <div class="text-center pt-12">
        <img src="{{ graphicUrl }}" width="360" class="max-w-full" alt="">
        <p class="pt-6 pb-2 text-lg">Nothing to see here yet. Configure your <a href="{{ cpUrl('settings/plugins/snipcart') }}">plugin settings</a>.</p>
        <a class="btn submit large" href="{{ cpUrl('settings/plugins/snipcart') }}">Configure Snipcart</a>
    </div>
{% endblock %}
