{% extends "_layouts/cp" %}

{% set abandonedCart = craft.snipcart.getAbandonedCart(token) %}
{# @var abandonedCart \workingconcept\snipcart\models\AbandonedCart #}

{% if abandonedCart is null %}
    {% exit 404 %}
{% endif %}

{% set crumbs = [
    { label: "Snipcart"|t('snipcart'), url: url('snipcart') },
    { label: "Abandoned Carts"|t('snipcart'), url: url('snipcart/abandoned') }
] %}

{% set title = abandonedCart.billingAddress.name %}

{% block content %}

    {#{ dump(abandonedCart) }#}

    {% for prop, value in abandonedCart %}
        <p>
            <b>{{ prop }}</b>
            {{ dump(value) }}
        </p>
    {% endfor %}

{% endblock %}
